body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.banner {
  position: relative;
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 20vh;
}

.banner h1 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3em;
}

.content {
  margin-top: 20px;
  background-color: antiquewhite;
  padding: 20px;
  border: 1px solid black;
}

.wrapper {
  background-color: white;
  padding-top: 20px;
}

